@charset "UTF-8";
@font-face {
	font-family: lokicola-font;
	src: url(./lokicola.ttf);
}
/* CSS Document */

/* Mobile Layout: 480px and below. */

.gridContainer {    
    background: #FFF;
}

#header {
	color: rgba(255,255,255,1);
	background-color: #760003;
}
#header a {
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 45px;
}
#header ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	background-color: #FFF;
	margin: 0px;
}
h1 {
	font-family: lokicola-font;
	font-size: 30px;
	margin: 0;
	margin-bottom: -10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: -10px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 7px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 24px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 7px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 25px;
}
#header ul li {
	float: left;
}
#navigation {
	float: right;
	margin-right: 2%;
}
#footer {
	color: #FFF;
	background-color: #760003;
	position: relative;
	height: 40px;
	padding-left:0px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 10px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 15px;
	padding-top: 15px;
	font-size: 8px;
}
.pullRight:hover > a {
	color: inherit;
	text-decoration: none;
	margin: 0;
}

/* Not used at the moment —

#footerContents a {
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 35px;
}
#footerContents ul li {
	float: left;
	margin-top:10px;
}
#footerContents ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	top: 10px;
	left: 20px;
}

 replaced with .pullRight and .pullLeft class */

.imageBox{
	margin 0;
	width: 96.5%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px;
	background-color: rgba(255,255,255,1);
}
.imageBox:hover{
	border: 1px solid black;
}
.button {
    background-color: rgb(200,51,0);
    border: none;
	border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
	background-color: rgb(190,0,0);
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: rgb(0,0,0);
}

/* selected link */
a:active {
    color: yellow;
} 

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
h1 {
	font-family: lokicola-font;
	font-size: 40px;
	margin: 0;
	margin-bottom: -10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: -10px;
	padding-top: 23px;
	padding-left: 0px;
	padding-right: 7px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 24px;
}
#header a {
	font-size: 16px;
	width: 70px;
}
#footer {
	height: 50px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 15px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	font-size: 11px;
}

/* Not used at the moment —

#footerContents a {
	font-size: 16px;
	width: 55px;
}

 replaced with .pullRight and .pullLeft class */


.imageBox{
	margin 0;
	width: 94%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px ;
	background-color: rgba(255,255,255,1);
}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	h1 {
	font-family: lokicola-font;
	font-size: 55px;
	margin: 0;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 55px;
	margin-top: 0px;
	margin-bottom: -10px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 10px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 28px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 37px;
}
#header a {
	font-size: 20px;
	width: 90px;
}
#footer {
	height: 70px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 20px;
	padding-top: 17px;
	font-size: 14px;
}

/* Not used at the moment —

#footerContents a {
	font-size: 20px;
	width: 75px;
}

 replaced with .pullRight and .pullLeft class */

.imageBox{
	margin 0;
	width: 96%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px ;
	background-color: rgba(255,255,255,1);
}


}
	