@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		12;
	dw-num-cols-desktop:	16;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_3d_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_text {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_text_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_image_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#home_main_image {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#content_3D {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image_ {
	clear: none;
	float: left;
	margin-left: 5.2631%;
	width: 100%;
	display: block;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_3d_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 32.2033%;
	display: block;
}
#main_text {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_text_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 57.6271%;
	display: block;
}

#main_image_contents {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
}

#home_main_image {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#content_3D {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image_ {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
}


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.875%;
	max-width: 1232px;
	padding-left: 0.5625%;
	padding-right: 0.5625%;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_3d_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 36.7088%;
	display: block;
}
#main_text {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_text_contents {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image {
	clear: none;
	float: left;
	width: 62.0253%;
	display: block;
}

#main_image_contents {
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 49.367%;
	display: block;
}

#home_main_image {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#content_3D {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#main_3d_image_ {
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 100%;
	display: block;
}


}