@charset "UTF-8";
@font-face {
	font-family: lokicola-font;
	src: url(./lokicola.ttf);
}
/* CSS Document */

/* Mobile Layout: 480px and below. */

.gridContainer {    
    background: #FFF;
}
#header {
	color: rgba(255,255,255,1);
	background-color: #760003;
	height: 50px;
}

/* Move these CSS rules to the navigation class

#header ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#header ul li {
	float: left;
}

#header a {
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 35px;
}

*/

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	background-color: #FFF;
	margin: 0px;
}

/* Default CSS reset for styling the anchor links — you need to override these 
	in any class below that uses an anchor if you want a different style */

/* Remove dotted outline when visited */
a:link {
    outline: 0;
}
/* unvisited link */
a:link {
    color: white; /* This determins the color of the link text, e.g. the navigation menu, 
						unless overriden below */
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: yellow;
} 

h1 {
	font-family: lokicola-font;
	font-size: 22px;
	margin: 0;
	margin-bottom: -10px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: -10px;
	padding-top: 13px;
	padding-left: 0px;
	padding-right: 4px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 18px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 5px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 17px;
}

#footer {
	color: #FFF;
	background-color: #760003;
	position: relative;
	height: 40px;
	padding-left:0px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 10px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 10px;
	padding-top: 15px;
	font-size: 8px;
}
.pullRight:hover > a {
	color: inherit; /*Inherits the anchor colour for hover given in the anchor rules above */
	text-decoration: none;
	margin: 0;
}

/* Old CSS rule form Lab 1

#footerContents a {
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 35px;
}
#footerContents ul li {
	float: left;
	margin-top:10px;
}
#footerContents ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	top: 10px;
	left: 20px;
}

 replaced with .pullRight and .pullLeft class */

.imageBox{
	margin-top: 10px;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px;
	background-color: rgba(255,255,255,1);
}
.imageBox:hover{
	border: 1px solid black;
}
.galleryBox{
	margin 0;
	width: 96.5%;
	padding: 2px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(255,255,255,.8);
}
.galleryBox:hover{
	border: 1px solid yellow; /* Change this color later */
}

/* Style the navigation rather than the header */
.navigation ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.navigation ul li {
	float: left;
}

.navigation a {
	font-size: 10px;
	color: #FFF; /* This determines  the color of the link text */
	text-decoration: none;
	display: block;
	width: 40px;
}

/* CSS rule for styling the 'Find out more ...' button*/
.button {
    background-color: rgb(170,51,0);
	border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;ß
}
.button:hover {
	background-color: rgb(200,0,0);
	text-decoration: none;
}	

.drinksText {
	width: 100%;
	background-color: rgba(245,245,245,0.8);
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid red;
	float:left;
	padding: 10px;
	margin-top: 10px;
}

.drinksText h2 {
	font-size: 140%; 
}

.drinksText a {
	color: #FFF; /* This determines  the color of the link text */
}

/* Borrow the Bootstrap approach for the navigation menu links or buttons — should build a more sophisticated CSS rules for the navigation class */
.navBtn-primary {
    background-color: #450003;
	border: 1px solid #450003;
	border-radius: 0;
    padding: 3px;
	text-align: center;
	text-decoration: none;
    display: inline-block;
}

.navBtn-primary:hover{
	background-color: #650003; 
	border: 1px solid black;
}

.navBtn-success {
	background-color: #1BBC9C; 
	border: 1px solid #1BBC9C;
	border-radius: 0;
    padding: 3px;
	text-align: center;
	text-decoration: none;
    display: inline-block;
}

.navBtn-success:hover {
	background-color: #139B7E; 
	border: 1px solid black;
}

/* ++++++++++++++++++++++++++BUTTONS+++++++++++++++++++++++*/

/* CSS rules to style the buttons */

.btn-responsive {
    padding:4px 9px;
    font-size: 60%;
    line-height: 1.2;
 }

.btn-primary {
	background-color: #2C3EAA; 
	border-color: #2C3EAA;
	color: #FFFFFF;
	text-align: left;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
	background-color: #1E2A99; 
	border-color: #161F29;
	color: #FFFFFF;
}

.btn-success {
	background-color: #1BBC9C; 
	border-color: #1BBC9C;
	color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.open .dropdown-toggle.btn-success {
	background-color: #139B7E; 
	border-color: #139B7E;
	color: #FFFFFF;
}

.btn-default {
	background-color: #95A5A6; 
	border-color: #95A5A6;
	color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.open .dropdown-toggle.btn-default {
	background-color: #7F9293; 
	border-color: #74B9BA;
	color: #FFFFFF;
}

/* ++++++++++++++++++++++++++END BUTTONS+++++++++++++++++++++++*/

#gallery1{
	float: right;
	width:15%;
	margin-right: 0px;
	margin-top: 7px;
	padding: 1px;
	/* border: 1px solid red;
	border-radius: 5px; */
}
#gallery2{
	float: right;
	width: 15%;
	margin-right: 0px;
	margin-top: 5px;
	padding: 1px;
}
#gallery3{
	float: right;
	width: 15%;
	margin-right: 0px;
	margin-top: 5px;
	padding: 1px;
}
#gallery4{
	float: right;
	width: 15%;
	margin-right: 00px;
	margin-top: 5px;
	padding: 1px;
}
.gallery_cell{
	width: 80%;
	padding: 1px;
	float: right;
	margin-right: 5px;
}

.image_thumbnail{
	border: 1px solid red;
	border-radius: 5px;
	background-color:rgba(230,230,230,0.8);
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#header {
	height: 90px;
}
h1 {
	font-family: lokicola-font;
	font-size: 34px;
	margin: 0;
	margin-bottom: -10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 34px;
	margin-top: -2px;
	margin-bottom: -10px;
	padding-top: 23px;
	padding-left: 0px;
	padding-right: 7px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	margin-top: 2px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 8px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 16px;
}
#header a {
	font-size: 16px;
	width: 70px;
}
#footer {
	height: 50px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 15px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	font-size: 11px;
}

/* Not used at the moment —

#footerContents a {
	font-size: 16px;
	width: 55px;
}

 replaced with .pullRight and .pullLeft class */


.imageBox{
	margin 0;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px ;
	background-color: rgba(255,255,255,1);
}
.galleryBox{
	margin 0;
	width: 94%;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px ;
	background-color: rgba(255,255,255,.8);
}

/* ++++++++++++++++++++++++++BUTTONS+++++++++++++++++++++++*/

/* CSS rules to style the buttons */

.btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
 }

.button {
    padding: 8px 8px;
    font-size: 12px;
}
/* ++++++++++++++++++++++++++END BUTTONS+++++++++++++++++++++++*/
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */


.drinksText h2 {
	font-size: 170%; 
}

#gallery1{
	float: right;
	width: 10%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
	/*border: 1px solid red;
	border-radius: 5px; */
}
#gallery2{
	float: right;
	width: 10%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
#gallery3{
	float: right;
	width: 10%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
#gallery4{
	float: right;
	width: 10%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
.gallery_cell{
	width: 80%;
	border-radius: 10px;
	margin: 1px;
	float:left;
}


}

@media only screen and (min-width: 769px) {
#header {
	height: 120px;
}

h1 {
	font-family: lokicola-font;
	font-size: 51px;
	margin: 0;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 3px;
}
#header h2 {
	font-family: lokicola-font;
	font-size: 51px;
	margin-top: 0px;
	margin-bottom: -10px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 10px;
	float: left;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 28px;
	padding-left: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 20px;
}
#header a {
	font-size: 20px;
	width: 90px;
}
#footer {
	height: 70px;
}
.pullLeft {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16px;
}
.pullLeft > p {
	margin: 0;
}
.pullRight {
	float: right;
	padding-right: 20px;
	padding-top: 17px;
	font-size: 14px;
}

/* Not used at the moment —

#footerContents a {
	font-size: 20px;
	width: 75px;
}

replaced with .pullRight and .pullLeft class */

.imageBox{
	margin 0;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(204,204,204,1);
	border-radius: 5px ;
	background-color: rgba(255,255,255,1);
}
.galleryBox{
	margin 0;
	width: 96%;
	padding: 4px;
	border: 1px solid black;
	border-radius: 5px ;
	background-color: rgba(255,255,255,.8);
}

/* ++++++++++++++++++++++++++BUTTONS+++++++++++++++++++++++*/

/* CSS rules to style the buttons */

.btn-responsive {
    padding:4px 9px;
    font-size:110%;
    line-height: 1.2;
 }

.navBtn-primary {
    padding: 7px;
}

.navBtn-success {
    padding: 7px;
}

.button {
    padding: 10px 10px;
    font-size: 14px;
}

.drinksText h2 {
	font-size: 200%; 
}

#gallery1{
	float: right;
	width: 9%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
	/*border: 1px solid red;
	border-radius: 5px;*/
}
#gallery2{
	float: right;
	width: 9%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
#gallery3{
	float: right;
	width: 9%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
#gallery4{
	float: right;
	width: 9%;
	margin-right: 0px;
	margin-top: 10px;
	padding: 1px;
}
.gallery_cell{
	width: 80%;
	border-radius: 10px;
	margin: 1px;
	float: left;
}


}
	